

body{
	height:100vh;
	width:100vw;
}

section{
	//border:2px solid black;
	height:33.33%;
	width:100%;
	transition: 1s;
}

#black{
	background-color:black;
}

#red{
	background-color: red;
}

#yellow{
	background-color: yellow;
}

@media only screen and (min-width:600px){
	section{
		height:100%;
		width:33.33%;
		float:left;
		transition: .3s
	}
}